
/*
.background { color: #A1A2A6; }
.texto { color: #024959; }
.destaque { color: #F2C12E; }
.secundária {color: #F2AE30; }
*/
html {
    background-color: #A1A2A6;
    color: #024959;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.page-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    position: relative;
}
p {
    text-indent: 1em; /*quebra de parágrafo*/
}
h1, h2, h3 {
    text-align: center;
}
h1{
    font-size: 1.8rem;
}
h2 {
    font-size:1.4rem;
}
h3 {
    font-size: 1.2rem;
}
.summary {
    text-align: right;
}
.main p {
    line-height: 1.5; /*espaçamento*/
}
abbr {
    font-variant: small-caps; /*editando abreviaturas*/
}
#design-archives {
    display: none; /*não exibe esse ID*/
}
#zen-intro {
    height: 550px;
}
#zen-intro header {
    background-color: #024959;
    color: #A1A2A6;
    text-align: center;
}
#zen-intro header h1, #zen-intro header h2 {
display: inline-block;
}
#zen-intro header h1{
    margin-left: 1em;
    margin-right: 1em;
}
aside ul {
    list-style: none;
}
aside ul li {
    margin: 1em;
    text-align: center;
}
.main footer {
    margin: 4%;
}
.main footer a {
    border: solid 2px #024959;
    padding: 0.5em;
    display: inline-block;
}
.explanation {
    width: 60%;
    border-right: solid 1px #024959;
    padding-right: 2%;
}
#design-selection {
    /*para utilizar essa função deve-se utilizar um elemento como ancora (nesse caso o page-wrapper position:relative*/
    position: absolute;
    top: 520px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}
.supporting footer {
    display: flex;
    justify-content: space-evenly;
}
.benefits {
    display: flex;
    border-top: solid 1px #024959;
    border-bottom: solid 1px #024959;
}
.benefits p {
    flex-basis: 70%; /*  determina o espaço ocupado*/
}
.benefits h3 {
    order:2;
    align-self: center;
    flex-basis: 30%;
}
.participation {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #024959;
}
.participation p, .participation h3{
    flex-basis: 50%;
}